  #ah1{
    text-align: center;
    background-color: black;
    margin-bottom: 20px;
    color: white;
    font-size: 3rem;
    height: 20%;
    width: 100%;
  }

  form {
    width: 45%;
    margin: auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea,
  input[type='file'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type='file'] {
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .admin-btn {
    background-color: rgb(110, 110, 227);
    color: white;
    margin: 10px 10px 0px 0px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .admin-btn:hover {
    background-color: white;
    color: rgb(110, 110, 227);
  }
