* {
    margin: 0;
    padding: 0;
  }
  
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 15%;
    width: 100%;
}
 #uh1{
  margin-left: 20px;
 }
 #searchbox{
  height: 25px;
 } 
 #searchbtn{
    height: 25px;
    width: 70px;
    margin-left: 5px;
    margin-right: 20px;
    background-color: rgb(110, 110, 227);
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
 }
 #searchbtn:hover{
  background-color: white;
    color: rgb(110, 110, 227);
 }
  #container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .data-item {
    margin: 20px;
    width: 30%;
    background-color:aliceblue;
    border: 1px solid lightgray ;
    border-radius: 5px;
    overflow: hidden;
  }
  .info-div1,
  .info-div2 {
    padding: 20px;
    flex: 1;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: grey;
  }
  
 img {
  height: 150px;  
  width: 300px;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
  }
  .btn{
    height: 30px;
    width: 60px;
    text-align: center;
    margin: 5px;
    background-color: rgb(110, 110, 227);
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .btn:hover{
    background-color: white;
    color: rgb(110, 110, 227);
  }
  .additional-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .additional-info p {
    margin-bottom: 10px;
  }
  
  .additional-info p:last-child {
    margin-bottom: 0;
  }
  
@media(max-width:500px){
  .data-item{
    width: 40%;
  }
  img{
    width: 100px;
    margin:auto;
  }
}
@media(min-width:500px) and (max-width:700px){
  img{
    width: 100px;
    margin:auto;
  }
}
@media(min-width:700px) and (max-width:1000px){
  img{
    width: 150px;
    margin:auto;
  }
}
@media (max-width:300px){
  .description {
    font-size: 14px;
    color: grey;
  }
  img{
    width: 70px;
    margin:auto;
  }
}
@media(min-width:1000px) and (max-width:1200px){
  img{
    width: 250px;
    margin:auto;
  }
}